#entry-container {
    background-image: url(../images/AdobeStock_109660124.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    max-height: 550px;
    width: 400px;
    /*margin: 30px;*/
    margin-top: 55px;
    margin-bottom: 70px;
    border-radius: 15px;
}

#entry-container h3 {
    text-align: center;
    /*color: #bbd1db;
    text-shadow: 0 0 6px rgb(33, 37, 46);*/
    color: rgb(33, 37, 46);
    text-shadow: 0 0 8px #bbd1db;
    margin-bottom: 20px;
}

.entry {
    background-color: #033a49a3;
    margin: 14px;
    padding: 24px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.entry span {
    font-weight: 700;
    text-shadow: 0 0 6px rgb(33, 37, 46);
}



/* Add different colors for different temperature values */
.hot {
    color: #ff5101;
}

.warm {
    color: #ff9a00;
}

.mild {
    color: #ffe86b;
}

.cool {
    color: #a6f6ff;
}

.cold {
    color: #04e5ff;
}

.freezing {
    color: #00a9ff;
}