#input-container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 40px;
    justify-items: center;
    place-items: center;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 500px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    display: block;
    height: 60px;
    width: 300px;
    background-color: #B8C5E5;
    color: #033A49;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
}

textarea {
    background-color: #B8C5E5;
    color: #033A49;
    width: 300px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
}

input:valid, textarea:valid {
    background-color: #bbd1db;
    font-family: 'Oswald', sans-serif;
}

button {
    width: 200px;
    height: 80px;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 600;
    background-color: #033a49a3;
    color: #f0d43a;
    border: none;
    border-radius: 35px;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    position: relative;
    left: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
}

@media(min-width:480px) {
    input, textarea {
        width: 400px;
    }
    button {
        left: 25%;
    }
}



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    /*color: #f0d43a;  yellow*/
    color: #033A49;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    /*color: #f0d43a;  yellow*/
    color: #033A49;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    /*color: #f0d43a;  yellow*/
    color: #033A49;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}