body {
    /*background-color: #f23557; red*/
    background-color: #157f1f;
    font-family: 'Oswald', sans-serif;
    /*display: grid;
    grid-template-columns: (15vw, auto, 15vw);*/
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    position: relative;
    min-height: 100vh;
}

#app {
    margin-top: 30px;
    display: grid;
    grid-template-rows: (auto, auto);
    grid-gap: 2em;
    justify-items: center;
    /*display: flex;
    flex-direction: row;*/
    /*grid-area: 2/1/2/1;*/
    /*min-height: 100%;*/    
    /*background-color: #f23557; red*/
    background-color: #157f1f; /*dark green*/
    /*background-color: #07560f;*/
    /*background-color: #8ae093; light green*/
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}

@media(min-width:890px) {
    #app {
        display: grid;
        grid-template-columns: (50%, 50%);
        grid-gap: 1em;
        justify-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.input-container {
    grid-area: 1/1/1/1;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: center;
    /*display: flex;
    flex-direction: column;*/
    /*max-width: 450px;*/
}

.entry-container {
    grid-area: 2/1/2/1;
}

@media(min-width:890px) {
    .entry-container {
        grid-area: 1/2/1/2;
    }
}

h1 {
    font-size: 2em;
    color: #f0d43a;
}

@media(min-width:601px) {
    h1 {
        font-size: 3em;
    }
}

.holder {

}

.entry {
    background: rgba(59, 74, 107, .4);
    /*min-height: 150px;*/
    /*min-width: 500px;*/
    height: 250px;
    width: 300px;
    margin-bottom: 50px;
}

#entryHolder {

}

#date {

}

#temp {

}

#content {

}

.headline {
    /*font-size: 2em;*/
    height: 60px;
    margin-top: -15px;
    border-bottom: 4px #f0d43a solid;
    text-align: center;
}

@media(min-width:601px) {
    .headline {
        height: 90px;
        margin-top: -20px;
    }
}

.title {

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 400px;
    /*background: #22b2da; blue
    background-color: #105C71; dark blue*/
    /*background-color: #047190; dark blue - good*/
    background-color: #047290cd;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

textarea {
    /*background-color: #22b2da; blue
    background-color: #105C71; dark blue*/
    /*background-color: #047190; dark blue - good*/
    background-color: #047290cd;
    color: #f0d43a;
    width: 400px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

button {
    width: 200px;
    height: 80px;
    border-radius: 35px;
    display: block;
    /*background-color: #3b4a6b;*/
    background-color: #033A49;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-bottom: 50px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /*background-color: #3b4a6b;*/
    background-color: #033A49;;
    color: #e8f2f7;
    line-height: 1.1em;
    text-align: center;
}