
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    /*background-color: #fbfbe9;*/
    
    /*background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,224,43,1) 0%, rgba(0,212,255,1) 100%);*/
    
    /* good blue gradient
    background: rgb(107,238,255);
    background: radial-gradient(circle, rgba(107,238,255,0.7903536414565826) 50%, rgba(107,188,255,1) 100%);
    */
    
    background-image: url(images/AdobeStock_239372057.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    /*background: rgb(255,254,137);
    background: radial-gradient(circle, rgba(255,254,137,1) 21%, rgba(255,107,139,1) 100%);
    */
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}

body {
    /*background-color: #f23557; red*/
    /*background-color: #157f1f;*/
    /*background-color: #fdfcdc; light yellow*/
    /*background-color: #fed9b7;*/
    /*display: grid;
    grid-template-columns: (15vw, auto, 15vw);*/
    /*height: 100%;*/
    position: relative;
    min-height: 100vh;
}

#app {
    margin-top: 30px;
    display: grid;
    grid-template-rows: (auto, auto);
    grid-gap: 2em;
    justify-items: center;
    /*display: flex;
    flex-direction: row;*/
    /*grid-area: 2/1/2/1;*/
    /*min-height: 100%;*/    
    /*background-color: #f23557; red*/
    /*background-color: #157f1f; dark green !!!!!!*/
    /*background-color: #fdfcdc; light yellow*/
    /*background-color: #fed9b7;*/

    /*background-color: #07560f;*/
    /*background-color: #8ae093; light green*/
    /*color: #f0d43a; yellow !!!!*/
    /*color: #f07167; red/pink*/
    color: #EC7A71;
    /*background-color: #fbfbe9;*/
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}

@media(min-width:890px) {
    #app {
        display: grid;
        grid-template-columns: (50%, 50%);
        grid-gap: 1em;
        justify-items: center;
        place-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#input-container {
    grid-area: 1/1/1/1;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: center;
    place-items: center;
    /*display: flex;
    flex-direction: column;*/
    /*max-width: 450px;*/
}

#entry-container {
    grid-area: 2/1/2/1;
    /*background-image: url(images/sky-main.jpeg);*/
    background-image: url(images/AdobeStock_109660124.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    max-height: 500px;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 30px;
}

@media(min-width:890px) {
    #entry-container {
        grid-area: 1/2/1/2;
    }
}

h1 {
    font-size: 2em;
    /*color: #f0d43a;*/
    color: #f13d31;
}

@media(min-width:601px) {
    h1 {
        font-size: 3em;
    }
}

.holder {

}

.entry {
    /*background: rgb(22, 43, 87);*/
    /*min-height: 150px;*/
    /*min-width: 500px;*/
    margin-bottom: 50px;
    background-color: #033a49a3;
    margin: 12px;
    padding: 12px;
}

.entry span {
    font-weight: 600;
}

#entryHolder {

}

#date {

}

#temp {

}

#content {

}

.headline {
    /*font-size: 2em;*/
    height: 60px;
    margin-top: -15px;
    /*border-bottom: 4px #f0d43a solid;*/
    border-bottom: 4px #f07167 solid;
    text-align: center;
    /*background-image: url(images/AdobeStock_135590143.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

@media(min-width:601px) {
    .headline {
        height: 90px;
        margin-top: -20px;
    }
}

.title {

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 400px;
    /*background: #22b2da; blue
    background-color: #105C71; dark blue*/
    /*background-color: #047190; dark blue - good*/
    /*background-color: #047290cd; dark blue !!!!*/
    background-color: #0081a7;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

textarea {
    /*background-color: #22b2da; blue
    background-color: #105C71; dark blue*/
    /*background-color: #047190; dark blue - good*/
    /*background-color: #047290cd; dark blue !!!!*/
    background-color: #0081a7;
    color: #f0d43a;
    width: 400px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

    border: none;
    border-radius: 8px;
    padding: 5px;
}

input:valid, textarea:valid {
    /*background-color: #2caacdcd; !!!!*/
    background-color: #00afb9;
}

button {
    width: 200px;
    height: 80px;
    border-radius: 35px;
    display: block;
    /*background-color: #3b4a6b;*/
    background-color: #033A49;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-bottom: 50px;
    cursor: pointer;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /*background-color: #3b4a6b;*/
    background-color: #033A49;;
    color: #e8f2f7;
    line-height: 3em;
    text-align: center;
}



/* Add different colors for different temperature values */
.hot {
    color: #f13d31;
}

.warm {
    color: #f08c3a;
}

.mild {
    color: #f0d43a;
}

.cool {

}

.cold {

}

.freezing {
    
}